/* .camera-container {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */


.focus-box {
  border: 2px dashed #00FF00; /* Color verde para el cuadro de enfoque */
  width: 200px; /* Ancho inicial */
  height: 100px; /* Alto inicial */
  resize: both; /* Permite redimensionar tanto horizontal como verticalmente */
  overflow: hidden;
  cursor: se-resize; /* Cambia el cursor para indicar que se puede redimensionar */
}

button {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
}

#capturedImage {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}
img{
  bottom: -50px;
}
